<!--
	--------------------------------------------IMPORTANT NOTE -----------------------------------------------

	I have NOT created the joystick javascript module, the real creator of the joy.js is Roberto D'Amico aka Bobboteck
	Here is the link to the original GitHub Repo https://github.com/bobboteck/JoyStick
	Here is the link to the article https://www.cssscript.com/onscreen-joystick/

-->

<!DOCTYPE HTML>
<html>
	<head>
		<title>Joy</title>
		<meta charset="utf-8">
		<meta name="description" content="Remote controll for your car!!!!">
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
		<script src="{{ url_for('static',filename='joy.js') }}"></script>
	</head>

	<body>

		<div class="row">
			<div class="columnLateral">
				<div id="joy1Div" style="width:200px;height:200px;margin:50px"></div>
			</div>
		</div>

		<div class="row">
			<div class="columnLateral">
				<div id="joy2Div" style="width:200px;height:200px;margin:50px"></div>
			</div>
		</div>


		<script type="text/javascript">

// Create JoyStick object into the DIV 'joy1Div'
var Joy1 = new JoyStick('joy2Div');

var joy1IinputPosX = Joy1.GetPosX();
var joy1InputPosY = Joy1.GetPosY();
var joy1Direzione = Joy1.GetDir()
var joy1X = Joy1.GetX;
var joy1Y = Joy1.GetY;

// Fetch joystick 1 position every 50 ms
setInterval(function(){ joy1IinputPosX=Joy1.GetPosX(); }, 50);
setInterval(function(){ joy1InputPosY=Joy1.GetPosY(); }, 50);


// Create JoyStick object into the DIV 'joy2Div'
var Joy2 = new JoyStick('joy2Div');

var joy2IinputPosX = Joy2.GetPosX();
var joy2InputPosY = Joy2.GetPosY();
var joy2Direzione = Joy2.GetDir()
var joy2X = Joy2.GetX;
var joy2Y = Joy2.GetY;

// Fetch joystick 2 position every 50 ms
setInterval(function(){ joy2IinputPosX=Joy2.GetPosX(); }, 50);
setInterval(function(){ joy2InputPosY=Joy2.GetPosY(); }, 50);

// Do a POST request to Flask backend every 50 ms
setInterval(function(){
	 fetch('/send', {
        headers: {
            'Content-Type': 'application/json'
        },
        method: 'POST',
        body: JSON.stringify({"joy1X": joy1IinputPosX, "joy1Y": joy1InputPosY, "joy2X": joy2IinputPosX, "joy2Y": joy2InputPosY})
    })
        .then(function (response) {
            return response.text();
        })
        .then(function (text) {

            console.log('POST response: ');
            console.log(text);
        });
}, 50);

	</script>
	</body>
</html>

